<h1>Sign up</h1>

<form action="/register" method="POST">
    <!--Must have the name attribute to be able to access user submitted content -->
    <input text="text" name="username"  placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>


<p> <a href="/register">Sign Up! </a></p>
<p> <a href="/Login">Login! </a></p>
<p> <a href="/logout">LogOut! </a></p>