<h1>THis is a secret page! </h1>
<p>You found the noble Corgi!</p>

<img src="https://farm4.staticflickr.com/3015/2290268776_136da30a62.jpg">

<p>Witness a rare corgo admiring magic orbs</p>
<img src="https://i.redd.it/die49hceh2oz.jpg"> 
<p>The golden ratio Pupper- very Rare!!!</p>
<img src="https://i.redd.it/4rtgin1awbnz.jpg">


<p> <a href="/register">Sign Up! </a></p>
<p> <a href="/Login">Login! </a></p>
<p> <a href="/logout">LogOut! </a></p>